@import '../../scss/mediaQueries';




.input-container {
  width: 100%;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;

  @include small {
    // padding: 10px;
  }

  @include medium {
    // padding: 20px;
    
  }

  @include large {
    // padding: 30px;
  }
}

.form-foot {
  margin-top: 20px;

}

.span-text {
  margin-left: 10px;
  font-weight: 700;
  cursor: pointer;
}
